/RUNNING_PID
/logs/
/reports/
/project/*-shim.sbt
/project/project/
/project/target/
target/
/.idea/
/out*/
/gen/

resources/synth/cpp-templates/fringeDE1SoC/
resources/synth/cpp-templates/fringeArria10/
resources/synth/cpp-templates/fringeXSIM/
resources/synth/chisel-templates/fringeDE1SoC/
resources/synth/chisel-templates/fringeArria10/
resources/synth/chisel-templates/fringeXSIM/
*.sim
*.class
*.iml
*.ipr
*.iws
*.idea
*.DS_Store
*.~
*.o
*.deg
*.debug
*.pgm
*.pyc
/emulator/
*.out
*.hex
*.flo
*.vcd
*.dot
*.pdf
*.swp
*.swo
*.swn
*.log
*.aux
*.out
*.tags

resources/synth/chisel-templates/test_run_dir/*
