/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
target/
/.idea/
/out*/
/gen/

*.sim
*.class
*.iml
*.ipr
*.iws
*.idea
*.DS_Store
*.~
*.o
*.deg
*.debug
*.pgm
*.pyc
/emulator/
*.cpp
*.h
*.out
*.v
*.hex
*.flo
*.vcd
*.dot
*.pdf
*.swp
*.swo
*.log
*.aux
*.out
*.tags

